$starFieldWidth: 2560;
$starFieldHeight: 2560;

@keyframes animShootingStar {
  from {
    transform: translateY(0px) translateX(0px) rotate(-45deg);
    opacity: 1;
    height: 5px;
  }
  to {
    transform: translateY(-#{$starFieldHeight}px) translateX(-#{$starFieldWidth}px) rotate(-45deg);
    opacity: 1;
    height: 800px;
  }
}

@mixin shooting-star-template($numStars, $starSize, $speed) {
  z-index: 0;
  width: $starSize;
  height: $starSize + 80px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  animation: animShootingStar $speed linear infinite;
}

@keyframes move-twink-back {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 5000px;
  }
}

.app {
  min-height: 100dvh;
  width: 100dvw;

  &::before,
  &::after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    inset: 0;
    z-index: -1;
  }

  &::before {
    background: url(/stars.png) top center #000;
  }
  &::after {
    background: url(/twinkling.png) top center;
    animation: move-twink-back 200s linear infinite;
  }
}

.comet {
  @include shooting-star-template(10, 5px, 10s);
}
