@import './stars.scss';

$app-padding: 30px;
$yellow: #ffee58;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: jedi;
  src: url('/Typo-Grotesk.otf');
}

.app {
  font-family: jedi;
  color: $yellow;
  padding: $app-padding;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  &::before,
  &::after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    inset: 0;
    z-index: -1;
  }

  &::before {
    background: url(/stars.png) top center #000;
  }
  &::after {
    background: url(/twinkling.png) top center;
    animation: move-twink-back 200s linear infinite;
  }
}

@keyframes move-twink-back {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 5000px;
  }
}

.mt {
  margin-top: 30px;
}

h1,
h2,
h3 {
  margin-bottom: 15px;
}

.section {
  width: 100%;
  min-height: calc(100dvh - ($app-padding * 2));
  padding: $app-padding;
  border-bottom: 1px solid $yellow;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 15px 0 30px;
  align-items: flex-start;
}

.card {
  border: 1px solid $yellow;
  padding: 30px;
  min-width: 250px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  user-select: none;
  background: linear-gradient(90deg, rgba($yellow, 0.05) 0%, rgba($yellow, 0.05) 100%);
}

.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

button {
  background-color: $yellow;
  color: #000;
  border: none;
  padding: 5px 10px;
  font-family: jedi;
  text-transform: uppercase;
  cursor: pointer;
}

.text {
  color: #fff;
  max-width: 175px;
  word-break: break-all;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 10px;
}
.content {
  img {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.list {
  display: grid;
  gap: 10px;

  li {
    cursor: pointer;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  gap: 50px;
  overflow: hidden;
  min-height: 350px;
}

.forced-reflow {
  position: relative;
}

.starship {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 30px;
  left: 0px;
  transition: left 500ms ease;
  filter: drop-shadow(0 0 0.75rem #ff0000);
}

.yoda {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 180px;
  left: 0px;
  transform: translateX(0);
  transition: transform 500ms ease;
  filter: drop-shadow(0 0 0.75rem #00ff00);
}
